{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}



    <!-- Topbar Start -->
    {{ include('/shop/topBar.html.twig') }}  
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            
            {{ include('/shop/colGauche.html.twig') }}

            

            <div class="col-lg-9">

                {{ include('/shop/nav.html.twig') }}  





{# <h1>Product index</h1> #}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
        {% for product in products %}   
    
            
                <div class="col-lg-3 col-md-6 mb-4" onclick="">

                    <a href="{{ path('app_shop_product_show', {'id': product.id}) }}" class="btn">
                        <div class="card text-black">
                            <i>ref : {{ product.id }}</i>
                            <img src="../uploads/{{ product.image }}"  class="card-img-top" alt="{{ product.nom }}" style="width: 245px;height: 297px;object-fit: cover;" />
                            <div class="card-body">
                                <div class="text-center">
                                    <h5 class="card-title">{{ product.nom }}</h5>
                                    <p class="text-muted mb-4">{{ product.dateAjout ? product.dateAjout|date('Y-m-d H:i:s') : '' }}</p>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <span>Prix : </span><span>{{ product.prix }} €</span>
                                    </div>                            
                                </div>
                            </div>
                        </div>                        
                     </a>

                </div>
           
        

        {% else %}
        no records found
        {% endfor %}
        </div>
    </div>
</section>


    {# <a href="{{ path('app_product_new') }}">Create new</a> #}















                
            </div>
        </div>
    </div>
    <!-- Navbar End -->


















    
{% endblock %}
