{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}


    <!-- Topbar Start -->
    {{ include('/shop/topBar.html.twig') }}  
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            
            {{ include('/shop/colGauche.html.twig') }}

            

            <div class="col-lg-9">

                {{ include('/shop/nav.html.twig') }}  


<h1>{{ product.nom }}</h1>

<table class="table">
    <tbody>
        
        <tr>
            <td>
                <img src="/uploads/{{ product.image }}" />
            </td>

            <td>
            
                <table>
                    <tr>
                        <th>Nom</th>
                        <td>{{ product.nom }}</td>
                    </tr>
                    <tr>
                        <th>Catégorie</th>
                        <td>{{ product.getCategoryId().getNom() }}</td>
                    </tr>
                    <tr>
                        <th>DateAjout</th>
                        <td>{{ product.dateAjout ? product.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ product.prix }}</td>
                    </tr>

                    <tr>
                        
                        <td colpan="2">
                            <a href="" class="btn btn-primary">Ajouter au panier</a>
                    </td>
                    </tr>
                   
            
                </table>
            
            </td>
        </tr>


        
    </tbody>
</table>










                
            </div>
        </div>
    </div>
    <!-- Navbar End -->






    {# <a href="{{ path('app_product_index') }}">back to list</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }} #}
{% endblock %}
